/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .nav {
    li {
      a {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .menu-phone{
      font-size: 14pt;
    }
  }
}