@media (min-width: 768px) and (max-width: 991px) {
  .h-padding-160 {
    padding-left: 16px;
    padding-right: 16px; }

  .h-padding-80 {
    padding-left: 8px;
    padding-right: 8px; }

  .nav li a {
    padding-left: 10px;
    padding-right: 10px; }
  .nav .menu-phone {
    font-size: 14pt; } }

/*# sourceMappingURL=devices-small.css.map */
