@media(max-width:767px){
  .h-padding-80{
    padding-left: 0;
    padding-right: 0;
  }
  .h-padding-160{
    padding-left: 10px;
    padding-right: 10px;
  }
  /** Tiles style */
  .tiles{
    &#main-page-tiles{
      margin-top: 20px;
    }
    .tile{
    }
  }

  .navbar-brand{
    display: block;
  }

  .navbar-right{
    float: none!important;
    text-align: center;
  }



  .order-button-container{
    text-align: center;
    .order-button{
      position: relative;
      top: auto;
      right: auto;
    }
  }

  #footer{
    footer{
      background-image: none;
      .copyrights{
        padding: 10px 20px;
        line-height: 2em;
        height: 2em;
        text-align: center;
      }
    }
  }
}
