.masonry-gallery{
  margin-bottom: 40px;
  /* ---- isotope ---- */
  .grid {
    margin-top: 40px;
  }
  .grid-thin{
    margin-left: 150px;
    margin-right: 150px;
  }
  .grid-3{
    .grid-item, .grid-sizer{
      width: 33.333%;
    }
  }
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  /* ---- .grid-item ---- */
  .grid-sizer,
  .grid-item {
    float: left;
    overflow: hidden;
    .wrapper{
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: rgba(0,0,0,.3);
      opacity: 0;
      z-index: 100;
      .title{
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        margin: auto;
        font-size: $fsBigger;
        color: $colorWhite;
      }
    }
    img, .scaled-image {
      display: block;
      max-width: 100%;
      -webkit-perspective: 1000;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
    img, .wrapper, .scaled-image{
      -webkit-transition: top .8s ease-out, left .8s ease-out, opacity .8s ease-out, -webkit-transform .8s ease-out;
      -moz-transition: top .8s ease-out, left .8s ease-out, opacity .8s ease-out, -webkit-transform .8s ease-out;
      -o-transition: top .8s ease-out, left .8s ease-out, opacity .8s ease-out, -webkit-transform .8s ease-out;
      transition: top .8s ease-out, left .8s ease-out, opacity .8s ease-out, -webkit-transform .8s ease-out
    }
    .image{
      background-size: cover;
      background-position: center center;
      @include aspect-ratio(1, 1); // You can use aspect-ratio(16, 9) for horizontal style
    }
    &:hover{
      .wrapper{
        transform: scale(1.01);
        opacity: 1;
      }
      img, .scaled-image{
        transform: scale(1.02);
      }
    }
  }
  .grid-4{
    .grid-item, .grid-sizer{
      width: 22%;
      margin-bottom: 40px;
    }
    .gutter-sizer { width: 4%; }
    .grid-item-width-2 { width: 48%; }
    .image-width-2{
      @include aspect-ratio(48, 22); // You can use aspect-ratio(16, 9) for horizontal style
    }
  }
  .grid-5{
    .grid-item, .grid-sizer{
      width: 19%;
      margin-bottom: 15px;
    }
    .gutter-sizer { width: 1.25%; }
    .grid-item-width-2 { width: 39.25%; }
    .image-width-2{
      @include aspect-ratio(39.25, 19); // You can use aspect-ratio(16, 9) for horizontal style
    }
  }
}

.fotorama{
  margin-top: 32px;
  margin-bottom: 32px;
}

.awards{
  a {
    float: left;
    overflow: hidden;
    display: block;
    .wrapper{
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: rgba(0,0,0,.5);
      opacity: 0;
      z-index: 100;
      bottom: 0;
      .title{
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        margin: auto;
        font-size: $fsBigger;
        color: $colorWhite;
      }
      .text{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 30px 50px;
        color: $colorWhite;
        text-align: center;
      }

    }
    img, .scaled-image {
      display: block;
      max-width: 100%;
      -webkit-perspective: 1000;
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
    img, .wrapper, .scaled-image{
      -webkit-transition: top .4s ease-out, left .4s ease-out, opacity .4s ease-out, -webkit-transform .4s ease-out;
      -moz-transition: top .4s ease-out, left .4s ease-out, opacity .4s ease-out, -webkit-transform .4s ease-out;
      -o-transition: top .4s ease-out, left .4s ease-out, opacity .4s ease-out, -webkit-transform .4s ease-out;
      transition: top .4s ease-out, left .4s ease-out, opacity .4s ease-out, -webkit-transform .4s ease-out
    }
    .image{
      background-size: cover;
      background-position: center center;
      @include aspect-ratio(1, 1); // You can use aspect-ratio(16, 9) for horizontal style
    }
    &:hover{
      .wrapper{
        transform: scale(1.01);
        opacity: 1;
      }
      img, .scaled-image{
        transform: scale(1.02);
      }
    }
  }
}