.masonry {
  /* ---- isotope ---- */
  /* clear fix */
  /* ---- .grid-item ---- */ }
  .masonry .grid:after {
    content: '';
    display: block;
    clear: both; }
  .masonry .grid-sizer,
  .masonry .grid-item {
    width: 33.333%; }
  .masonry .grid-item {
    float: left; }
  .masonry .grid-item img {
    display: block;
    max-width: 100%; }

/*# sourceMappingURL=gallery-grid.css.map */
