/** Post style */
.post{
  margin-top: 40px;
  margin-bottom: 40px;
  img{
    max-width: 100%;
    max-height: 100%;
  }
  h1{
    &.h1{
      display: block;
      padding: 20px;
      margin: 0;
      text-align: center;
      background: $colorYellow;
      font-size: $fsNormal;
    }
    &.mini{
      font-size: $fsNormal;
    }
  }
  &.post-two-columns{
    h1{
      &:first-child{
        margin-top: 0;
      }
    }
  }
  h2, .h2{
    margin: 0 auto 0 auto;
    line-height: 140%;
    font-size: $fsBigger;
    padding: 0 64px 16px 64px;
    border-bottom: 2px solid $colorGrey;
    text-align: center;
    &.border-top{
        border-bottom: 0px solid $colorGrey;
        border-top: 2px solid $colorGrey;
        padding: 16px 64px 16px 64px;
    }
  }
  h3{
    &.price{
      margin: 10px auto 20px auto;
      color: $colorGrey;
      font-size: $fsNormal;
      font-style: italic;
      font-weight: normal;
      text-align: center;
    }
  }
  h4{
    &.how{
      font-size: $fsBigger;
      margin: 36px auto;
      text-align: center;
    }
  }

  table{

    width: 100%;
    margin: 20px auto;

    &.list-h{
      tr{
        &:first-child{
          td{
            width: 16.666%;
            text-align: center;
            div{
              display: block;
              padding: 16px 0px;
              background: $colorYellow;
              font-size: $fsLarge;
              color: $colorWhite;
            }
          }
        }
        td{
          &:first-child{
            padding-left: 0;
          }
          &:last-child{
            padding-right: 0;
          }
          padding: 10px 8px;
        }
      }
    }

    &.list{
      tr{
        margin: 16px;
        display: block;
        td{
          text-align: left;
          padding: 2px 12px;
//          letter-spacing: 4px;
//          font-size: $fsBigger;
          &:first-child{
            text-align: center;
            background: $colorYellow;
            font-size: $fsBigger;
            color: $colorWhite;
          }
        }
      }
    }

    &.price{
      border: 2px solid $colorGrey;
      tr{
        td{
          text-align: center;
          &:first-child{
            text-align: left;
          }
        }
      }
      td{
        padding: 12px 16px;
        border: 2px solid $colorGrey;
        position: relative;
        div{
          &.checker{
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -8px;
            margin-left: -8px;
            background: $colorYellow;
          }
        }
      }
    }
  }

  ol{
    li{
      list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAE0lEQVQIW2NkYGD4D8RwwEi6AACaVAQBULo4sgAAAABJRU5ErkJggg==");
    }
  }

  p{
    &.big{
      margin-bottom: 16px;
      font-size: $fsBigger;
    }
  }

  address{
    margin: 15px auto 15px auto;
  }

  .block{
    margin-bottom: 20px;
  }

  .phone{
    font-size: $fsBigger;
    color: $colorDarkGrey;
    text-decoration: none;
    &:hover{
      color: $colorDarkGrey;
      text-decoration: none;
    }
  }

}