/**
Theme Name: Concept Art & Design
Description: WordPress Theme for Concept Art & Design
Author: Alexander Emelyanov
Template: twentyten
*/

@import url("./bower_components/bootstrap/dist/css/bootstrap.min.css");
/*@import url("../twentyten/style.css");*/

$colorWhite: #ffffff;
$colorBlack: #000000;
$colorDarkGrey: #201600;
$colorGrey: #797366;
$colorLightGrey: #e0e1e1;
//$colorYellow: #fadb49;
//$colorOrange: #de8445;
//$colorRed: #d14a43;
$colorYellow: rgb(250, 219, 73);
$colorOrange: rgb(222, 132, 69);
$colorRed: rgb(209, 74, 67);
$colorPurple: #755fa3;
$colorBlue: #4d5ea4;
$colorGreen: #63a35f;

$colors:
        (yellow $colorYellow)
        (orange $colorOrange)
        (red $colorRed)
        (purple $colorPurple)
        (blue $colorBlue)
        (green $colorGreen)
;

$fsLarge: 24pt;
$fsBigger: 16pt;
$fsNormal: 13pt;

@import "./mixins.scss";

#cad{

  .comments-link{
    display: none;
  }

  .meta-sep{
    display: none;
  }

  padding-top: 67px;

  #wrap {
    min-height: 100%;
  }

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;

  /** Common styles */
  .center{
    text-align: center;
  }

  .right{
    text-align: right;
  }

  .margin-0{
    margin: 0;
  }

  .fs-bigger{
    font-size: $fsBigger;
  }

  .hidden-md{
    display: none;
  }

  .hidden{
    visibility: hidden;
  }

  hr{
    &.divider{
      border: none;
      background: $colorGrey;
      height: 2px;
    }
  }

  h3{
    &.backlight{
      background: $colorLightGrey;
      display: inline-block;
      padding: 16px;
    }
  }

  a, button{
    &.link{
      margin-right: 16px;
      text-decoration: none;
      font-size: $fsNormal;
      padding: 8px 16px;
      color: $colorBlack;
      background-color: $colorLightGrey;
      &:hover{
        text-decoration: none;
      }
      &.link-yellow{
        color: $colorBlack;
        background-color: $colorYellow;
        &:hover{
          background-color: lighten($colorYellow, 5%);
        }
      }
      &.link-red{
        color: $colorWhite;
        background-color: $colorRed;
        &:hover{
          background-color: lighten($colorRed, 5%);
        }
      }
      &.link-big{
        font-size: $fsBigger;
        padding: 12px 24px;
        margin-right: 24px;
      }
    }
  }

  /** Footer style */
  #footer{
    background: $colorBlack;
    color: $colorWhite;
    footer{
      background: url('images/common/footer-logo.png') 50px center no-repeat;
      .copyrights{
        padding-left: 150px;
      }
      .phone{
        font-size: $fsBigger;
        position: absolute;
        width: 300px;
        text-align: left;
      }
      .text{
        height: 100px;
        line-height: 100px;
        vertical-align: middle;
        span, tel{
          vertical-align: middle;
          color: $colorWhite;
        }
        a{
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }

  .h-padding-40{
    padding-left: 40px;
    padding-right: 40px;
  }
  .h-padding-80{
    padding-left: 80px;
    padding-right: 80px;
  }
  .h-padding-160{
    padding-left: 160px;
    padding-right: 160px;
  }
  .v-padding-50{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .navbar-default{
    background-color: $colorWhite;
  }

  .navbar-brand{
    display: none;
  }

  .nav{
    li{
      a{
        padding: 5px 15px;
        color: $colorDarkGrey;
        background: transparent;
        &:hover{
          background: transparent;
          color: $colorRed;
        }
      }
    }
    li.current-menu-item{
      background: $colorRed;
      a{
        color: $colorWhite;
        &:hover{
          color: $colorWhite;
        }
      }
    }
    &.cad-main-nav{
      margin-top: 18px;
    }
  }

  .menu-phone-container{
    //position: relative;
    a{
      margin-top: 18px;
      display: block;
    }
  }

  .menu-phone{
    //position: absolute;
    //top: -54px;
    right: 0;
    font-size: $fsLarge;
    color: $colorRed;
    width: auto;
  }

  /** Main slider styles */
  .main-slider{
    .navigator{
      position: absolute;
      bottom: 120px; right: 0;
      div{
        position: absolute;
        /* size of bullet elements */
        width: 18px;
        height: 18px;
        background: $colorRed;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid transparent;
      }
      div:nth-child(1){
        background: $colorYellow;
      }
      div:nth-child(2){
        background: $colorOrange;
      }
      div.av{
        border: 2px solid $colorWhite;
      }
    }
    .main-slide-title{
      font-size: 64pt;
      text-align: center;
      color: $colorYellow;
      text-shadow: -2px 2px 2px $colorBlack;
      position:absolute;
      left:200px;
      top:80px;
      right:200px;
      height:120px;
    }
    .main-slide-subtitle{
      font-size: 24pt;
      text-align: center;
      color: $colorYellow;
      text-shadow: -2px 2px 2px $colorBlack;
      position:absolute;
      left:200px;
      top:200px;
      right:200px;
      height:40px;
    }
  }

  /** Tiles style */
  .tiles{
    &#main-page-tiles{
      margin-top: -60px;
    }
    a{
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
    .tile{
      width: 220px;
      margin: auto auto 40px auto;
      .title{
        width: 220px;
        height: 184px;
        background: center center no-repeat;
        background-size: cover;
        padding-top: 144px;
        text-align: center;
        font-size: $fsLarge;
        font-weight: bold;
      }
      .text{
        color: $colorWhite;
        font-size: $fsNormal;
        height: 58px;
        position: relative;
        div{
          position: absolute;
          text-align: center;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &.tile-about-projects {
        .title{
          background-image: url('images/tiles/about-projects.png');
        }
      }
      &.tile-about-customers {
        .title{
          background-image: url('images/tiles/about-customers.png');
        }
      }
      &.tile-about-meters {
        .title{
          background-image: url('images/tiles/about-meters.png');
        }
      }
      @for $i from 1 through 6{
        &.tile-about-#{$i} {
          .title {
            background-image: url('images/tiles/#{$i}.png');
          }
        }

      }
      /** Colorized tiles */
      @each $colorDefinition in $colors {
        $colorCode: nth($colorDefinition, 1);
        $colorHex: nth($colorDefinition, 2);
        &.tile-#{$colorCode}{
          .title{
            color: $colorHex;
          }
          .text{
            background: $colorHex;
          }
        }
      }

    }
  }

  .link-container {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  /** New services style - begin **************************************************************************************/
  .plate{
    margin: 30px 10px;
    background: $colorYellow;
    .image{
      width: 100%;
      @include aspect-ratio(16, 9); // You can use aspect-ratio(16, 9) for horizontal style
    }
    @for $i from 1 through 6{
      &.plate-#{$i}{
        .image {
          background: url('images/tiles/#{$i}.png') center center no-repeat;
          background-size: cover;
        }
      }

    }
    .text{
      width: 100%;
      top: 0;
      position: relative;
      height: 80px;
      text-align: center;
      .title{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: $colorBlack;
        font-size: $fsBigger;
      }
    }
  }

  /** New services style - end ****************************************************************************************/

  @import "./post.scss";


  /** Out customers section */
  .our-customers{
    text-align: center;
    padding: 40px 0;
    img{
      //height: 68px;
      margin: 15px 25px;
      max-height: 50px;
    }
  }

  /** Image Greyscale with CSS & re-color on mouse-over */
  .greyscale{
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .5s ease-in-out;
    &:hover{
      filter: none;
      -webkit-filter: grayscale(0);
    }
  }

  .google-map{
    width: 100%;
    height: 600px;
  }

  /** Order button - being ********************************************************************************************/
  .order-button-container{
    position: relative;
    .order-button{
      position: absolute;
      top: 30px;
      right: 30px;
      z-index: 90;
      color: $colorWhite;
      background: $colorRed;
      padding: 8px 16px;
      font-size: $fsBigger;
      margin: 0;
      @include BoxShadowHelper;
      &:hover{
        text-decoration: none;
      }
    }

  }
  /** Order button - end **********************************************************************************************/
  .awards{
    .award{
      min-height: 400px;
      position: relative;
      a{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
      }
    }
  }



  .toolbar{
    margin-top: 32px;
    .link:last-child{
      margin-right: 0;
    }
  }

  .category-list{
    h2{
      text-align: left;
      a{
        color: $colorRed;
        &:hover{
          text-decoration: none;
        }
      }
      padding-left: 0;
    }
    a{
      color: $colorOrange;
    }
  }

  @import "scss/mobile";
  @import "scss/devices-small";
  @import "scss/devices-medium";

}

@import "./gallery-grid.scss";
