/**
Theme Name: Concept Art & Design
Description: WordPress Theme for Concept Art & Design
Author: Alexander Emelyanov
Template: twentyten
*/
@import url("./bower_components/bootstrap/dist/css/bootstrap.min.css");
/*@import url("../twentyten/style.css");*/
/* Mixin vertical-align-centered */
/**
 * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 *
 * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * the blur parameter has to be doubled.
 *
 * Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
 *
 * Example usage:
 *
 * .card {
 *     width: 95px;
 *     height: 95px;
 *     background: #f4f4f4;
 *     -webkit-transition: all 250ms;
 *     -moz-transition: all 250ms;
 *     transition: all 250ms;
 *     .BoxShadowHelper(1);
 *     &:hover {
 *         .BoxShadowHelper(3);
 *         -webkit-transform: translateY(-5px);
 *         -moz-transform: translateY(-5px);
 *         transform: translateY(-5px);
 *     }
 * }
 *
 */
#cad {
  padding-top: 67px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  /** Common styles */
  /** Footer style */
  /** Main slider styles */
  /** Tiles style */
  /** New services style - begin **************************************************************************************/
  /** New services style - end ****************************************************************************************/
  /** Post style */
  /** Out customers section */
  /** Image Greyscale with CSS & re-color on mouse-over */
  /** Order button - being ********************************************************************************************/
  /** Order button - end **********************************************************************************************/
  /* Landscape tablets and medium desktops */ }
  #cad .comments-link {
    display: none; }
  #cad .meta-sep {
    display: none; }
  #cad #wrap {
    min-height: 100%; }
  #cad .center {
    text-align: center; }
  #cad .right {
    text-align: right; }
  #cad .margin-0 {
    margin: 0; }
  #cad .fs-bigger {
    font-size: 16pt; }
  #cad .hidden-md {
    display: none; }
  #cad .hidden {
    visibility: hidden; }
  #cad hr.divider {
    border: none;
    background: #797366;
    height: 2px; }
  #cad h3.backlight {
    background: #e0e1e1;
    display: inline-block;
    padding: 16px; }
  #cad a.link, #cad button.link {
    margin-right: 16px;
    text-decoration: none;
    font-size: 13pt;
    padding: 8px 16px;
    color: #000000;
    background-color: #e0e1e1; }
    #cad a.link:hover, #cad button.link:hover {
      text-decoration: none; }
    #cad a.link.link-yellow, #cad button.link.link-yellow {
      color: #000000;
      background-color: #fadb49; }
      #cad a.link.link-yellow:hover, #cad button.link.link-yellow:hover {
        background-color: #fbe062; }
    #cad a.link.link-red, #cad button.link.link-red {
      color: #ffffff;
      background-color: #d14a43; }
      #cad a.link.link-red:hover, #cad button.link.link-red:hover {
        background-color: #d65e57; }
    #cad a.link.link-big, #cad button.link.link-big {
      font-size: 16pt;
      padding: 12px 24px;
      margin-right: 24px; }
  #cad #footer {
    background: #000000;
    color: #ffffff; }
    #cad #footer footer {
      background: url("images/common/footer-logo.png") 50px center no-repeat; }
      #cad #footer footer .copyrights {
        padding-left: 150px; }
      #cad #footer footer .phone {
        font-size: 16pt;
        position: absolute;
        width: 300px;
        text-align: left; }
      #cad #footer footer .text {
        height: 100px;
        line-height: 100px;
        vertical-align: middle; }
        #cad #footer footer .text span, #cad #footer footer .text tel {
          vertical-align: middle;
          color: #ffffff; }
        #cad #footer footer .text a:hover {
          text-decoration: none; }
  #cad .h-padding-40 {
    padding-left: 40px;
    padding-right: 40px; }
  #cad .h-padding-80 {
    padding-left: 80px;
    padding-right: 80px; }
  #cad .h-padding-160 {
    padding-left: 160px;
    padding-right: 160px; }
  #cad .v-padding-50 {
    padding-top: 50px;
    padding-bottom: 50px; }
  #cad .navbar-default {
    background-color: #ffffff; }
  #cad .navbar-brand {
    display: none; }
  #cad .nav li a {
    padding: 5px 15px;
    color: #201600;
    background: transparent; }
    #cad .nav li a:hover {
      background: transparent;
      color: #d14a43; }
  #cad .nav li.current-menu-item {
    background: #d14a43; }
    #cad .nav li.current-menu-item a {
      color: #ffffff; }
      #cad .nav li.current-menu-item a:hover {
        color: #ffffff; }
  #cad .nav.cad-main-nav {
    margin-top: 18px; }
  #cad .menu-phone-container a {
    margin-top: 18px;
    display: block; }
  #cad .menu-phone {
    right: 0;
    font-size: 24pt;
    color: #d14a43;
    width: auto; }
  #cad .main-slider .navigator {
    position: absolute;
    bottom: 120px;
    right: 0; }
    #cad .main-slider .navigator div {
      position: absolute;
      /* size of bullet elements */
      width: 18px;
      height: 18px;
      background: #d14a43;
      overflow: hidden;
      cursor: pointer;
      border: 2px solid transparent; }
    #cad .main-slider .navigator div:nth-child(1) {
      background: #fadb49; }
    #cad .main-slider .navigator div:nth-child(2) {
      background: #de8445; }
    #cad .main-slider .navigator div.av {
      border: 2px solid #ffffff; }
  #cad .main-slider .main-slide-title {
    font-size: 64pt;
    text-align: center;
    color: #fadb49;
    text-shadow: -2px 2px 2px #000000;
    position: absolute;
    left: 200px;
    top: 80px;
    right: 200px;
    height: 120px; }
  #cad .main-slider .main-slide-subtitle {
    font-size: 24pt;
    text-align: center;
    color: #fadb49;
    text-shadow: -2px 2px 2px #000000;
    position: absolute;
    left: 200px;
    top: 200px;
    right: 200px;
    height: 40px; }
  #cad .tiles#main-page-tiles {
    margin-top: -60px; }
  #cad .tiles a {
    text-decoration: none; }
    #cad .tiles a:hover {
      text-decoration: none; }
  #cad .tiles .tile {
    width: 220px;
    margin: auto auto 40px auto;
    /** Colorized tiles */ }
    #cad .tiles .tile .title {
      width: 220px;
      height: 184px;
      background: center center no-repeat;
      background-size: cover;
      padding-top: 144px;
      text-align: center;
      font-size: 24pt;
      font-weight: bold; }
    #cad .tiles .tile .text {
      color: #ffffff;
      font-size: 13pt;
      height: 58px;
      position: relative; }
      #cad .tiles .tile .text div {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        transform: translateY(-50%); }
    #cad .tiles .tile.tile-about-projects .title {
      background-image: url("images/tiles/about-projects.png"); }
    #cad .tiles .tile.tile-about-customers .title {
      background-image: url("images/tiles/about-customers.png"); }
    #cad .tiles .tile.tile-about-meters .title {
      background-image: url("images/tiles/about-meters.png"); }
    #cad .tiles .tile.tile-about-1 .title {
      background-image: url("images/tiles/1.png"); }
    #cad .tiles .tile.tile-about-2 .title {
      background-image: url("images/tiles/2.png"); }
    #cad .tiles .tile.tile-about-3 .title {
      background-image: url("images/tiles/3.png"); }
    #cad .tiles .tile.tile-about-4 .title {
      background-image: url("images/tiles/4.png"); }
    #cad .tiles .tile.tile-about-5 .title {
      background-image: url("images/tiles/5.png"); }
    #cad .tiles .tile.tile-about-6 .title {
      background-image: url("images/tiles/6.png"); }
    #cad .tiles .tile.tile-yellow .title {
      color: #fadb49; }
    #cad .tiles .tile.tile-yellow .text {
      background: #fadb49; }
    #cad .tiles .tile.tile-orange .title {
      color: #de8445; }
    #cad .tiles .tile.tile-orange .text {
      background: #de8445; }
    #cad .tiles .tile.tile-red .title {
      color: #d14a43; }
    #cad .tiles .tile.tile-red .text {
      background: #d14a43; }
    #cad .tiles .tile.tile-purple .title {
      color: #755fa3; }
    #cad .tiles .tile.tile-purple .text {
      background: #755fa3; }
    #cad .tiles .tile.tile-blue .title {
      color: #4d5ea4; }
    #cad .tiles .tile.tile-blue .text {
      background: #4d5ea4; }
    #cad .tiles .tile.tile-green .title {
      color: #63a35f; }
    #cad .tiles .tile.tile-green .text {
      background: #63a35f; }
  #cad .link-container {
    text-decoration: none; }
    #cad .link-container:hover {
      text-decoration: none; }
  #cad .plate {
    margin: 30px 10px;
    background: #fadb49; }
    #cad .plate .image {
      width: 100%;
      position: relative; }
      #cad .plate .image:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 56.25%; }
      #cad .plate .image > .aspect-ratio-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    #cad .plate.plate-1 .image {
      background: url("images/tiles/1.png") center center no-repeat;
      background-size: cover; }
    #cad .plate.plate-2 .image {
      background: url("images/tiles/2.png") center center no-repeat;
      background-size: cover; }
    #cad .plate.plate-3 .image {
      background: url("images/tiles/3.png") center center no-repeat;
      background-size: cover; }
    #cad .plate.plate-4 .image {
      background: url("images/tiles/4.png") center center no-repeat;
      background-size: cover; }
    #cad .plate.plate-5 .image {
      background: url("images/tiles/5.png") center center no-repeat;
      background-size: cover; }
    #cad .plate.plate-6 .image {
      background: url("images/tiles/6.png") center center no-repeat;
      background-size: cover; }
    #cad .plate .text {
      width: 100%;
      top: 0;
      position: relative;
      height: 80px;
      text-align: center; }
      #cad .plate .text .title {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: #000000;
        font-size: 16pt; }
  #cad .post {
    margin-top: 40px;
    margin-bottom: 40px; }
    #cad .post img {
      max-width: 100%;
      max-height: 100%; }
    #cad .post h1.h1 {
      display: block;
      padding: 20px;
      margin: 0;
      text-align: center;
      background: #fadb49;
      font-size: 13pt; }
    #cad .post h1.mini {
      font-size: 13pt; }
    #cad .post.post-two-columns h1:first-child {
      margin-top: 0; }
    #cad .post h2, #cad .post .h2 {
      margin: 0 auto 0 auto;
      line-height: 140%;
      font-size: 16pt;
      padding: 0 64px 16px 64px;
      border-bottom: 2px solid #797366;
      text-align: center; }
      #cad .post h2.border-top, #cad .post .h2.border-top {
        border-bottom: 0px solid #797366;
        border-top: 2px solid #797366;
        padding: 16px 64px 16px 64px; }
    #cad .post h3.price {
      margin: 10px auto 20px auto;
      color: #797366;
      font-size: 13pt;
      font-style: italic;
      font-weight: normal;
      text-align: center; }
    #cad .post h4.how {
      font-size: 16pt;
      margin: 36px auto;
      text-align: center; }
    #cad .post table {
      width: 100%;
      margin: 20px auto; }
      #cad .post table.list-h tr:first-child td {
        width: 16.666%;
        text-align: center; }
        #cad .post table.list-h tr:first-child td div {
          display: block;
          padding: 16px 0px;
          background: #fadb49;
          font-size: 24pt;
          color: #ffffff; }
      #cad .post table.list-h tr td {
        padding: 10px 8px; }
        #cad .post table.list-h tr td:first-child {
          padding-left: 0; }
        #cad .post table.list-h tr td:last-child {
          padding-right: 0; }
      #cad .post table.list tr {
        margin: 16px;
        display: block; }
        #cad .post table.list tr td {
          text-align: left;
          padding: 2px 12px; }
          #cad .post table.list tr td:first-child {
            text-align: center;
            background: #fadb49;
            font-size: 16pt;
            color: #ffffff; }
      #cad .post table.price {
        border: 2px solid #797366; }
        #cad .post table.price tr td {
          text-align: center; }
          #cad .post table.price tr td:first-child {
            text-align: left; }
        #cad .post table.price td {
          padding: 12px 16px;
          border: 2px solid #797366;
          position: relative; }
          #cad .post table.price td div.checker {
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -8px;
            margin-left: -8px;
            background: #fadb49; }
    #cad .post ol li {
      list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAE0lEQVQIW2NkYGD4D8RwwEi6AACaVAQBULo4sgAAAABJRU5ErkJggg=="); }
    #cad .post p.big {
      margin-bottom: 16px;
      font-size: 16pt; }
    #cad .post address {
      margin: 15px auto 15px auto; }
    #cad .post .block {
      margin-bottom: 20px; }
    #cad .post .phone {
      font-size: 16pt;
      color: #201600;
      text-decoration: none; }
      #cad .post .phone:hover {
        color: #201600;
        text-decoration: none; }
  #cad .our-customers {
    text-align: center;
    padding: 40px 0; }
    #cad .our-customers img {
      margin: 15px 25px;
      max-height: 50px; }
  #cad .greyscale {
    filter: gray;
    /* IE5+ */
    -webkit-filter: grayscale(1);
    /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .5s ease-in-out; }
    #cad .greyscale:hover {
      filter: none;
      -webkit-filter: grayscale(0); }
  #cad .google-map {
    width: 100%;
    height: 600px; }
  #cad .order-button-container {
    position: relative; }
    #cad .order-button-container .order-button {
      position: absolute;
      top: 30px;
      right: 30px;
      z-index: 90;
      color: #ffffff;
      background: #d14a43;
      padding: 8px 16px;
      font-size: 16pt;
      margin: 0;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
      #cad .order-button-container .order-button:hover {
        text-decoration: none; }
  #cad .awards .award {
    min-height: 400px;
    position: relative; }
    #cad .awards .award a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block; }
  #cad .toolbar {
    margin-top: 32px; }
    #cad .toolbar .link:last-child {
      margin-right: 0; }
  #cad .category-list h2 {
    text-align: left;
    padding-left: 0; }
    #cad .category-list h2 a {
      color: #d14a43; }
      #cad .category-list h2 a:hover {
        text-decoration: none; }
  #cad .category-list a {
    color: #de8445; }
  @media (max-width: 767px) {
    #cad {
      /** Tiles style */ }
      #cad .h-padding-80 {
        padding-left: 0;
        padding-right: 0; }
      #cad .h-padding-160 {
        padding-left: 10px;
        padding-right: 10px; }
      #cad .tiles#main-page-tiles {
        margin-top: 20px; }
      #cad .navbar-brand {
        display: block; }
      #cad .navbar-right {
        float: none !important;
        text-align: center; }
      #cad .order-button-container {
        text-align: center; }
        #cad .order-button-container .order-button {
          position: relative;
          top: auto;
          right: auto; }
      #cad #footer footer {
        background-image: none; }
        #cad #footer footer .copyrights {
          padding: 10px 20px;
          line-height: 2em;
          height: 2em;
          text-align: center; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #cad .h-padding-160 {
      padding-left: 16px;
      padding-right: 16px; }
    #cad .h-padding-80 {
      padding-left: 8px;
      padding-right: 8px; }
    #cad .nav li a {
      padding-left: 10px;
      padding-right: 10px; }
    #cad .nav .menu-phone {
      font-size: 14pt; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #cad .nav li a {
      padding-left: 10px;
      padding-right: 10px; }
    #cad .nav .menu-phone {
      font-size: 14pt; } }

.masonry-gallery {
  margin-bottom: 40px;
  /* ---- isotope ---- */
  /* clear fix */
  /* ---- .grid-item ---- */ }
  .masonry-gallery .grid {
    margin-top: 40px; }
  .masonry-gallery .grid-thin {
    margin-left: 150px;
    margin-right: 150px; }
  .masonry-gallery .grid-3 .grid-item, .masonry-gallery .grid-3 .grid-sizer {
    width: 33.333%; }
  .masonry-gallery .grid:after {
    content: '';
    display: block;
    clear: both; }
  .masonry-gallery .grid-sizer,
  .masonry-gallery .grid-item {
    float: left;
    overflow: hidden; }
    .masonry-gallery .grid-sizer .wrapper,
    .masonry-gallery .grid-item .wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      z-index: 100; }
      .masonry-gallery .grid-sizer .wrapper .title,
      .masonry-gallery .grid-item .wrapper .title {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        margin: auto;
        font-size: 16pt;
        color: #ffffff; }
    .masonry-gallery .grid-sizer img, .masonry-gallery .grid-sizer .scaled-image,
    .masonry-gallery .grid-item img,
    .masonry-gallery .grid-item .scaled-image {
      display: block;
      max-width: 100%;
      -webkit-perspective: 1000;
      transform: matrix(1, 0, 0, 1, 0, 0); }
    .masonry-gallery .grid-sizer img, .masonry-gallery .grid-sizer .wrapper, .masonry-gallery .grid-sizer .scaled-image,
    .masonry-gallery .grid-item img,
    .masonry-gallery .grid-item .wrapper,
    .masonry-gallery .grid-item .scaled-image {
      -webkit-transition: top .8s ease-out, left .8s ease-out, opacity .8s ease-out, -webkit-transform .8s ease-out;
      -moz-transition: top .8s ease-out, left .8s ease-out, opacity .8s ease-out, -webkit-transform .8s ease-out;
      -o-transition: top .8s ease-out, left .8s ease-out, opacity .8s ease-out, -webkit-transform .8s ease-out;
      transition: top 0.8s ease-out, left 0.8s ease-out, opacity 0.8s ease-out, -webkit-transform 0.8s ease-out; }
    .masonry-gallery .grid-sizer .image,
    .masonry-gallery .grid-item .image {
      background-size: cover;
      background-position: center center;
      position: relative; }
      .masonry-gallery .grid-sizer .image:before,
      .masonry-gallery .grid-item .image:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%; }
      .masonry-gallery .grid-sizer .image > .aspect-ratio-content,
      .masonry-gallery .grid-item .image > .aspect-ratio-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
    .masonry-gallery .grid-sizer:hover .wrapper,
    .masonry-gallery .grid-item:hover .wrapper {
      transform: scale(1.01);
      opacity: 1; }
    .masonry-gallery .grid-sizer:hover img, .masonry-gallery .grid-sizer:hover .scaled-image,
    .masonry-gallery .grid-item:hover img,
    .masonry-gallery .grid-item:hover .scaled-image {
      transform: scale(1.02); }
  .masonry-gallery .grid-4 .grid-item, .masonry-gallery .grid-4 .grid-sizer {
    width: 22%;
    margin-bottom: 40px; }
  .masonry-gallery .grid-4 .gutter-sizer {
    width: 4%; }
  .masonry-gallery .grid-4 .grid-item-width-2 {
    width: 48%; }
  .masonry-gallery .grid-4 .image-width-2 {
    position: relative; }
    .masonry-gallery .grid-4 .image-width-2:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 45.83333%; }
    .masonry-gallery .grid-4 .image-width-2 > .aspect-ratio-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .masonry-gallery .grid-5 .grid-item, .masonry-gallery .grid-5 .grid-sizer {
    width: 19%;
    margin-bottom: 15px; }
  .masonry-gallery .grid-5 .gutter-sizer {
    width: 1.25%; }
  .masonry-gallery .grid-5 .grid-item-width-2 {
    width: 39.25%; }
  .masonry-gallery .grid-5 .image-width-2 {
    position: relative; }
    .masonry-gallery .grid-5 .image-width-2:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 48.40764%; }
    .masonry-gallery .grid-5 .image-width-2 > .aspect-ratio-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }

.fotorama {
  margin-top: 32px;
  margin-bottom: 32px; }

.awards a {
  float: left;
  overflow: hidden;
  display: block; }
  .awards a .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 100;
    bottom: 0; }
    .awards a .wrapper .title {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      margin: auto;
      font-size: 16pt;
      color: #ffffff; }
    .awards a .wrapper .text {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0 30px 50px;
      color: #ffffff;
      text-align: center; }
  .awards a img, .awards a .scaled-image {
    display: block;
    max-width: 100%;
    -webkit-perspective: 1000;
    transform: matrix(1, 0, 0, 1, 0, 0); }
  .awards a img, .awards a .wrapper, .awards a .scaled-image {
    -webkit-transition: top .4s ease-out, left .4s ease-out, opacity .4s ease-out, -webkit-transform .4s ease-out;
    -moz-transition: top .4s ease-out, left .4s ease-out, opacity .4s ease-out, -webkit-transform .4s ease-out;
    -o-transition: top .4s ease-out, left .4s ease-out, opacity .4s ease-out, -webkit-transform .4s ease-out;
    transition: top 0.4s ease-out, left 0.4s ease-out, opacity 0.4s ease-out, -webkit-transform 0.4s ease-out; }
  .awards a .image {
    background-size: cover;
    background-position: center center;
    position: relative; }
    .awards a .image:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    .awards a .image > .aspect-ratio-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .awards a:hover .wrapper {
    transform: scale(1.01);
    opacity: 1; }
  .awards a:hover img, .awards a:hover .scaled-image {
    transform: scale(1.02); }

/*# sourceMappingURL=style.css.map */
